{% set pageSlideOptions = header_var('slides')|default({}) %}
{# because seconds are better for the front end, this converts introduced 'seconds' property to milliseconds and (importantly) overrides any existing 'timeout' value #}
{% if array_key_exists('seconds', pageSlideOptions) %}
	{% set pageSlideOptions = pageSlideOptions|merge({'timeout': (pageSlideOptions.seconds * 1000)|int }) %}
{% endif %}
<!-- banner -->
<div class="banner">
	<!-- container -->
	<div class="container">
		<div class="banner-agileinfo">
			{% script 'theme://js/responsiveslides.min.js' priority: 99 %}
			{% script priority: 99 %}
				// You can also use "$(window).load(function() {"
				$(function () {
					// Slideshow 4
					var defaults = {
						auto: true,
						pager: true,
						nav: false,
						speed: 500,
						namespace: "callbacks",
						before: function () {
							$('.events').append("<li>before event fired.</li>");
							},
						after: function () {
							$('.events').append("<li>after event fired.</li>");
							}
						};
					$("#slider3").responsiveSlides(Object.assign(defaults, {{ pageSlideOptions|default({})|json_encode()|raw }}) );
					});
			{% endscript %}

			{% set custom_background = banner.background ? page.media[banner.background] : page.media['hero.jpg'] %}
			{% if custom_background %}
				{% style %}
					.banner {
						background-image: url('{{ custom_background.url }}');
					}
				{% endstyle %}
			{% endif %}

			<div id="top" class="callbacks_container-wrap">
				<ul class="rslides" id="slider3">
				{% for brag in banner.brags %}
					<li>
						<div class="banner-w3text">
							<h3>{{ brag.title }}</h3>
							<h5>{{ brag.bragline }}</h5>
							{{ brag.copy|markdown() }}
							{% if brag.cta %}
							<div class="banner-buttons">
								<div class="banner-button">
									<a href="{{ brag.cta.target }}">{{ brag.cta.text|default('More') }}</a>
								</div>
							</div>
							{% endif %}
						</div>
					</li>
				{% endfor %}
				</ul>
			</div>

		</div>
	</div>
	<!-- //container -->
</div>
<!-- //banner -->
<!-- 728x90 -->
