<!-- slider -->
<div class="slider">
	<div class="arrival-grids wthree-grids">			 
		<div class="nbs-flexisel-container"><div class="nbs-flexisel-inner">
			<ul id="flexiselDemo1">
			{% for item in page.header.slider.items %}
				{% set alt = item.alt %} {# TODO: extend to check for meta file as fallback #}
				{% set image = media["user://pages/#{item.image}"] %}
				<li class="nbs-flexisel-item">{% if item.target %}<a href="{{ item.target }}">{% endif %}<img src="{{ image.forceResize(640,426).url }}" alt="{{ alt }}">{% if item.target %}</a>{% endif %}</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	{% set slider_options = page.header.slider.options|default({}) %}

	{% set inline_js %}
		var flexiselOptions = { {# this is a better approach to lock things off from admin GUI edits #}
			visibleItems: {{ slider_options.visibleItems|default(4) }},
			animationSpeed: {{ slider_options.animationSpeed|default(1000) }},
			autoPlay: {{ slider_options.autoPlay|default('true') }},
			autoPlaySpeed: {{ slider_options.autoPlaySpeed|default(3000) }},
			pauseOnHover: {{ slider_options.pauseOnHover|default('true') }},
			enableResponsiveBreakpoints: true,
			responsiveBreakpoints: {
				portrait: {
					changePoint:480,
					visibleItems: 1
				},
				landscape: {
					changePoint:640,
					visibleItems: 2
				},
				tablet: {
					changePoint:768,
					visibleItems: 3
				}
			}
			};
		$(window).load(function() {
			$("#flexiselDemo1").flexisel(flexiselOptions);
			});
	{% endset %}
	{% do assets.addInlineJs(inline_js, 98) %}
	{% do assets.addJs('theme://js/jquery.flexisel.js', 98) %}
</div>
<!-- //slider -->
<!-- 728x90 -->
