{% extends 'partials/base.html.twig' %}

{% block content %}
    <!-- default -->
    <div class="content {{ page.template }}">
        <div class="aboutw3-agileinfo">
            <!-- container -->
            <div class="container">
                <h2 class="agileits-title">{{ page.title }}</h2>
                <!-- 728x90 -->
            </div>
            <!-- //container -->
        </div>
        <!-- {{ page.template }}-bottom -->
        <div class="{{ page.template }}-bottom">
            <!-- container -->
            <div class="container">
                {% block content_container %}
                    {% set feature_image = page.media[page.header.feature] %}
                    {% if feature_image %}
                    <div class="col-md-6 {{ page.template }}-w3grid">
                        <img src="{{ feature_image.url }}" class="feature img-thumbnail" alt="{{ feature_image.meta.alt|default('')|e('html_attr') }}" /> <!-- added class and populatable @alt text here -->
                    </div>
                    {% endif %}
                    <div class="col-md-{{ feature_image ? '6' : '12' }} {{ page.template }}-w3grid">
                        {{ page.content|raw }}
                    </div>
                {% endblock %}
                <div class="clearfix"> </div>
            </div>
            <!-- // container -->
        </div>
        <!-- default-bottom -->
        <!-- 728x90 -->
        {% for m in page.collection %}
            {{ m.content|raw }}
        {% endfor %}

    </div>
    <!-- //default -->
{% endblock content %}
