{% extends 'partials/base.html.twig' %}

{% block title -%}
	{{ page.title|e('html') }}
{%- endblock %}

{% block body %}
	{% block banner %}
		{% set banner = page.header.banner %}
		{% if page.header.banner %}
			{{ include('partials/banner.html.twig', {banner: page.header.banner}) }}
		{% endif %}
	{% endblock banner %}

	{% block content %}
		<!-- welcome -->
		<div class="welcome">
			<!-- container -->
			<div class="container">
				<div class="welcome-info">
					<h2 class="agileits-title">{{ page.header.heading|default('Welcome') }}</h2>
					{% if page.header.subheading %}
						<h5>{{ page.header.subheading }}</h5>
					{% endif %}
					{{ page.content|raw }}
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //welcome -->
		<!-- 728x90 -->
	{% endblock content %}

	{% block slider %}
		{% include 'partials/slider.html.twig' ignore missing %}
	{% endblock slider %}

	{% block newsfeed %}
		{% include 'partials/newsfeed.html.twig' ignore missing %}
	{% endblock newsfeed %}

	{% block closer %}
		{% include 'partials/closer.html.twig' ignore missing %}
	{% endblock closer %}

{% endblock %}
